{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
<h1>About San Diego Zoo</h1>
<p>
    San Diego Zoo Wildlife Alliance is an international, nonprofit conversation organization with two front doors. We integrate Wildlife health and care, science, and education to develop sustainable conversation solutions. Conservation is at the heart of everything we do. And it starts with that connection we make with the people and Wildlife every day. Because when Wildlife thrives, all life thrives.
</p>
{% endblock content %}